{% extends 'women/base.html' %}

{% block content %}
<h1>{{title}}</h1>

{% for contact in page_obj %}
<p>{{ contact }}</p>
{% endfor %}

<!-- Ссылки на астальные страницы -->
<nav>
  <ul>
<!-- Ссылка на сам класс paginator и обращение к методу page_range который возвращает итератор
          с помощю которого мы можем формировоть номера страниц -->
    {% for p in page_obj.paginator.page_range %}
    <li>
      <a href="?page={{ p }}">{{ p }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>

{% endblock %}
